/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
 .h{
    display: flex;
    align-items: center;
}
 .navbar{
    display: flex;
    align-items: center;
} 
a{
    padding: 20px;
    font-size: 125%;
    text-decoration: none;
    font-weight: bolder;
}
.icon{
    display: flex;
}
.su>span {
    /* margin-top: 50px; */
    color: #ff0080;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
  }
  .su{
      text-align: center;
      font-size: 50px;
     }
     .su::first-letter{
         color: red;
     }
  .mydiv{
       height:300px;
        border: 15px solid transparent;
        padding: 15px;
        width: 30%;
        height: 30%;
        border-image: url(https://images.pexels.com/photos/1568607/pexels-photo-1568607.jpeg) 30% stretch;
  }
  .mydiv2{
    height:300px;
    border: 15px solid transparent;
    padding: 15px;
    width: 30%;
    height: 30%;
   border-image: url(https://images.pexels.com/photos/1293006/pexels-photo-1293006.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) 20% stretch;
  }
  .div{
      display: flex;
      text-align: center;
      justify-content: center;
  }