*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 50, 75);
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: aliceblue;
    height: 80vh;
    width: 60vw;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 16px 18px rgba(0, 0, 0, 0.250);
}
h2{
    font-size: xx-large;
    font-weight: bolder;
}
label{
    font-size: large;
    flex-basis: 150px;
}
button{
    width: 100px;
    height: 35px;
    color: white;
    background-color: brown;
    border: 1px solid aliceblue;
}

.content {
    display: flex;
    width: 100%;
}
.err {
    margin-left: 10px;
}