body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color:lightcyan;
}
h1{
    text-align: center;
}
form {
    border: 1px solid black;
    width:40%;
    padding:20px 0 20px 0;
    margin: 50px auto 0;
    
}
.form-field {
   padding:20px 0 20px 50px;
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
  
}
input 
{
    width:100px;
    flex-basis:100px;
   
     margin-left:20px; 
}
#fnameError, #lnameError, #emailError, #dobError, #passwordError, #confirmPasswordError, #phoneError 
{
    display: none;
    color:violet;
    background-color:	lightgray;
    width:40%;
    margin:0 0 0 20px;
}