*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #80808030;
    
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card{
    width: 710px;
    /* background-color: #0000ff; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px;

}

.card-content,
.card-details{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}


.card-img{
    width: 155px;
    height: 155px;
    border-radius:5%;
}
.star{
    height: 15px;
}
#circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0000ff;
    margin:3px;
}
.list{
    width: 252px;
    height: 37px;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #808080;
}
.list-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.price > h4{
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 5px;
    padding-right: 5px;
}
.price > h5{
    color: #ff0000;
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 5px;
}
.card-details > span{
    margin-bottom: 5px;
    color: #008000;
  
}
.card-details >button{
    height: 30px;
    width: 155px;
    cursor: pointer;
    padding-bottom: 5px;
    border-radius: 5px;
}
.details-btn{
    background-color: #0066ff;
    color: #fff;
    border: none;
    margin-bottom: 5px;
}
.wishlist-btn{
    background-color: #fff;
    color: #0066ff;
    border: 1px solid #0066ff;
    margin-bottom: 5px;
}

.card-content > h2, .rating,.list{
    margin-bottom: 5px;
}

.vertical-ruler
{
    width: 1px;
    height: 150px;
    background-color: #80808030;
    border-radius: 5px;
}