* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.icon {
  display: none;
}
input:focus {
  outline: none;
}
input {
  color: #fff;
}
button,
a {
  cursor: pointer;
  border-radius: 1px;
  /* box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25); */
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav {
  /* 830 px 1em =16px */
  width: 415px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a:hover {
  color: #ef4137;
}
nav > a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
#nav-link:hover {
  color: #ef4137;
}
#nav-link:active {
  color: #ef4137;
}
.footer-links > div > a:hover {
  color: #ef4137;
}

#home {
  background: no-repeat;
  background-image: url('../assets/images/hero-image.jpg');
  background-size: cover;
  /* width: 100vw; */
  background-color: rgba(0, 0, 0);
  /* height: 130vh; */
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.home-content {
  /* background-color: #ef4137; */
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  margin-top: 260px;
  margin-bottom: 10em;
}
.home-content > h1 {
  max-width: 385px;
  line-height: 75px;
  font-size: 70px;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
.home-content > p {
  width: 470px;
  text-align: center;
}

#callToAction {
  width: 275px;
  height: 65px;
  background-color: #ef4137;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 16px;
}
#callToAction:hover {
  background-color: #000000;
}
.service-card {
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 75px 25px 75px 25px;
}
.service-card > img {
  width: 320px;
  height: 200px;
  border-radius: 5px;
}
.service-card > button,
.contactus-btn-box > button {
  background-color: #ef4137;
  color: #fff;
  border: none;
  width: 125px;
  height: 45px;
}
.service-card > h2 {
  font-size: 32px;
  font-weight: 600;
}
.service-card > h3 {
  font-size: 22px;
  font-weight: 600;
  color: #ef4137;
  font-style: italic;
}
.service-card > p {
  width: 320px;
  text-align: left;
}
.service-card > button {
  font-size: bold;
}
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#services > h1 {
  font-size: 42px;
  font-weight: 400;
  padding-top: 100px;
}
.service-container {
  /* width: 100vw;
  height: 120vh; */
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
#projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
      180deg,
      rgba(63, 61, 106, 0.9) 0%,
      rgba(63, 61, 106, 0.9) 100%
    ),
    url('../assets/images/hero-image.jpg');
}

.info {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-left {
  width: 35%;
  margin: 75px 0px 75px 0px;
}
.info-left > h1 {
  height: 185px;
  width: 195px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}
.info-left > button {
  border: none;
  color: #fff;
  background-color: #ef4137;
  width: 195px;
  font-size: 16px;
  font-weight: 600;
  height: 75px;
}
.numbers {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
}
.numbers > div > h1 {
  font-size: 70px;
}
.numbers > div > p {
  font-size: 24px;
  text-align: center;
  width: 195px;
}
.numbers > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}
.builds {
  margin-bottom: 30px;
}

#about {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: space-around;
}
.about-container > img {
  width: 450px;
  height: 300px;
}
#about-heading {
  width: 500px;
  font-size: 48px;
  font-weight: 500;
}
#about-sub {
  width: 500px;
  font-size: 32px;
  color: #ef4137;
  font-weight: 400;
}
.about-content > h3 {
  width: 500px;
  font-size: 55 px;
}
.about-content > p {
  width: 450px;
}
.about-content > button {
  border: none;
  color: #fff;
  background-color: #ef4137;
  width: 210px;
  font-size: 16px;
  font-weight: 600;
  height: 75px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#chooseus {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to top, #fff, rgba(0, 0, 0, 0.05));
}
#chooseus > h1 {
  font-size: 50px;
  font-weight: 400;
  padding-top: 75px;
}
.services > p {
  text-align: center;
}
.services {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.services-container {
  display: grid;
  grid-gap: 75px;
  grid-template-columns: auto auto auto auto;
  padding: 75px;
}

form {
  width: 650px;
}

#contactus {
  background-image: linear-gradient(
      180deg,
      rgba(63, 61, 106, 0.9) 0%,
      rgba(63, 61, 106, 0.9) 100%
    ),
    url('../assets/images/organization.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contactus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
}
.contactus-container > h1 {
  color: #fff;
  font-size: 54px;
}
.contactus-container > h3 {
  color: #ef4137;
  font-size: 28px;
  font-weight: 500;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  /* background-color: #ef4137; */
}
.contactus-btn-box {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-top: 70px;
  padding-bottom: 75px;
}
.contactus-btn-box > label {
  margin-right: 20px;
}
form > input,
label > input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
form > input::placeholder,
label > input ::placeholder {
  color: #fff;
}

label > input {
  width: 100px;
}
label {
  color: #fff;
}
#inp-name,
#inp-lname,
#email,
#phonenumber {
  width: 310px;
  height: 70px;
  text-align: start;
}
#message {
  width: 50vw;
  height: 200px;
}
#message::placeholder {
  line-height: 4.5em;
}

footer {
  background-color: #3f3d6a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-links > div {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 55px;
}
.footer-links > div > a {
  padding-top: 10px;
  text-decoration: none;
  color: #fff;
}
address {
  width: 160px;
  text-align: left;
  color: #fff;
}
#footer {
  color: white;
  background-color: #2b2948;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
}
#footer-left {
  width: 60vw;
}

/* respoonsive */

/* reference used -->
https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/#:~:text=320px%20%E2%80%94%20480px%3A%20Mobile%20devices,%E2%80%94%201200px%3A%20Desktops%2C%20large%20screens
https://stackoverflow.com/questions/16443380/common-css-media-queries-break-points

@media only screen and (min-width: 320px) and (max-width: 479px){ ... }

@media only screen and (min-width: 480px) and (max-width: 767px){ ... }

@media only screen and (min-width: 768px) and (max-width: 991px){ ... }

@media only screen and (min-width: 992px){ ... } */

/* small mobiles */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: none;
  }
  .icon {
    display: block;
  }
  #home {
    width: 100vw;
  }
  .home-content > h1 {
    font-size: 55px;
  }
  .home-content > p {
    width: 360px;
  }
  .service-container,
  .about-container,
  .numbers {
    flex-wrap: wrap;
  }
  #services > h1,
  #about-heading,
  #chooseus > h1,
  .contactus-container > h1 {
    font-size: 2em;
  }
  .service-card {
    display: flex;

    align-items: center;
  }
  .service-card > p {
    text-align: center;
  }
  .info-left > button {
    font-size: 0.8em;
  }
  #about-sub {
    font-size: 1.5em;
    width: 80%;
  }
  #about-heading,
  .about-content > p {
    width: 80%;
  }
  #about-heading,
  #about-sub,
  .about-content > p {
    text-align: center;
  }
  .info {
    flex-direction: column;
  }
  .info-left > h1 {
    text-align: center;
  }
  .about-container > img {
    width: 100%;
  }
  .about-content {
    align-items: center;
  }
  .services-container {
    grid-template-columns: auto;
  }
  .numbers > div {
    padding: 1em 0 1em 0;
  }
  form {
    width: fit-content;
  }
  .contactus-container > h1 {
    font-size: 2em;
  }
  .contactus-container > h3 {
    font-size: 1.5em;
    text-align: center;
  }
}

/* mobiles */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    overflow-x: auto;
  }
  nav {
    display: none;
  }
  .icon {
    display: block;
  }
  #home {
    width: 100vw;
  }
  .service-container,
  .about-container,
  .numbers {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .service-card {
    align-items: center;
    text-align: center;
  }
  .service-card > p {
    width: 330px;
    text-align: center;
  }
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-left {
    margin-left: 2em;
  }
  .info-left > h1 {
    text-align: center;
  }
  .numbers {
    margin: 0%;
    flex-direction: column;
  }
  .about-container > img {
    width: 100vw;
    object-fit: cover;
  }
  .services-container {
    grid-template-columns: auto auto;
  }
  form {
    width: fit-content;
  }
  .home-content > h1 {
    max-width: none;
    font-size: 3em;
    text-align: center;
  }
  .about-content {
    align-items: center;
    text-align: center;
  }
  #about-heading {
    font-size: 45px;
  }
}
