* {
    box-sizing: border-box;
}

.aboutimage h1 {
    position: relative;
}

.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
    padding: 15px;
}

.content,
.content1 {
    float: left;
    width: 31.33%;
    padding: 10px;
    height: 300px;
    margin-left: 9px;
}

.content1 img {
    width: 450px;
    height: 300px;
    margin-left: 220px;
}

.about:after {
    content: "";
    display: table;
    clear: both;
}

p {
    text-align: center;
    font-weight: 200;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
    width: 40%
}

h2 {
    color: #21a2ec;
    text-align: center;
}

.row1 {
    display: flex;
    flex-flow: wrap;
    padding: 85px;
}

.column1 img {
    width: 50%;
    height: 90%;
}

.row11 {
    display: flex;
    flex-flow: wrap;
    padding: 15px;
    margin-left: 29px;
}

.column11 {
    padding: 0px 100px 0px 0px;
}

.column11:hover {
    transform: (1.2);
    transition: all 300ms ease-in;
    cursor: pointer;
}