button{
    border: none;
    background-color: #FFD9C0;
    height: 30px;
    width: 125px;
    cursor: pointer;
    border-radius: 5%;
}
.card{
    margin-top: 35px;
    width: 250px;
    box-shadow: 4px 4px 4px #ffd9c086;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
    padding-bottom: 25px;
}
.card>img{
    width: 100%;
}
section{
    width: 100vw;
    height: 100%;
}
.products{
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.categories{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    font-weight: 300;
}
#select{
    background-color: #FFD9C0;
    width: 55px;
    text-align: center;
    border-radius: 25%;
    
}
.products{
    padding-left: 35px;
}
